<?xml version='1.0' encoding='utf-8'?>
<widget id="arish" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>arish</name>
    <description>
        An iOS environment for running WebXR content
    </description>
    <author email="tzachari@berkeley.edu" href="https://lab11.eecs.berkeley.edu">
        Lab11
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <engine name="ios" spec="^5.0.0" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-webxr" spec="src/cordova-plugin-webxr" />
    <preference name="AllowBackForwardNavigationGestures" value="true" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="Allow3DTouchLinkPreview" value="false" />
    <preference name="AppendUserAgent" value="ARBrowser" />
</widget>
